# Django
Django>=5.0,<6.0

# Database
psycopg2-binary>=2.9.9

# Server
gunicorn>=21.2.0

# Image handling
Pillow>=10.0.0

# Crispy forms
django-crispy-forms>=2.0
crispy-bootstrap4>=2.0

# Python-dotenv for env vars
python-dotenv>=1.0.0
whitenoise
